
NET "B0" LOC = "T10";
NET "B1" LOC = "T9";
NET "B2" LOC = "V9";
NET "B3" LOC = "M8";

NET "A0" LOC = "N8";
NET "A1" LOC = "U8";
NET "A2" LOC = "V8";
NET "A3" LOC = "T5";

NET "S0" LOC = "U16";
NET "S1" LOC = "V16";
NET "S2" LOC = "U15";
NET "S3" LOC = "V15";

NET "OverFlow" LOC = "T11";