//! **************************************************************************
// Written by: Map P.58f on Thu Nov 14 08:59:46 2013
//! **************************************************************************

SCHEMATIC START;
COMP "Cout" LOCATE = SITE "U16" LEVEL 1;
COMP "A" LOCATE = SITE "T10" LEVEL 1;
COMP "B" LOCATE = SITE "T9" LEVEL 1;
COMP "Sum" LOCATE = SITE "V16" LEVEL 1;
COMP "Cin" LOCATE = SITE "V9" LEVEL 1;
SCHEMATIC END;

