//! **************************************************************************
// Written by: Map P.58f on Thu Dec 05 09:31:01 2013
//! **************************************************************************

SCHEMATIC START;
COMP "DP" LOCATE = SITE "M13" LEVEL 1;
COMP "segs<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "segs<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "segs<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "segs<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "segs<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "segs<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "segs<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "Reset" LOCATE = SITE "D9" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

