#Input switches
NET "D[0]" LOC = "T10";
NET "D[1]" LOC = "T9";
NET "D[2]" LOC = "V9";
NET "D[3]" LOC = "M8";

#Seven segment display:

	#Selecting which digit to change:
NET "anodes[0]" LOC = "N16"; #"AN0"
NET "anodes[1]" LOC = "N15"; #"AN1"
NET "anodes[2]" LOC = "P18"; #"AN2"
NET "anodes[3]" LOC = "P17"; #"AN3"

	#Selecting the segments on the digit:

NET "segs[0]" LOC = "L14"; #"CG"
NET "segs[1]" LOC = "N14"; #"CF"
NET "segs[2]" LOC = "M14"; #"CE"
NET "segs[3]" LOC = "U18"; #"CD"
NET "segs[4]" LOC = "U17"; #"CC"
NET "segs[5]" LOC = "T18"; #"CB"
NET "segs[6]" LOC = "T17"; #"CA"	
